<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title > Mercado Liebre Login</title> 
   
    <%- include ('./partials/head') %>
    
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/estilos.css" rel="stylesheet" >
    <link href="/css/login.css" rel="stylesheet" >
    <link href="/css/createProduct.css" rel="stylesheet" >
   
    
</head>

<body>  
  <%- include ('./partials/header') %>
  <br>
  <br>
    <form action="/product/create" method="POST" enctype="multipart/form-data" > 
      <input type="text" style="width: 50%;margin-left: 20px" name="name"placeholder="  Nombre del producto"  class="input-nombre">

      <br>
      <br>

      <textarea class="input-descripcion" name="description" style="margin-left: 20px; width: 50%;" placeholder="Descripcion"></textarea>
      
      <br>
      <br>

      <input type="text"  name="price" style="width: 20%;margin-left: 20px;" placeholder="Precio" class="input-precio">
      <input type="text"  name="discount" style="width: 20%;margin-left: 20px;" placeholder="Descuento" class="input-descuento">
       <br>
       <br>
      
      <input type="file"  name="cImage" style="width: 20%;margin-left: 20px;" placeholder="Descuento">
      
      <br>
      <br>
      <select class="form-select" name="categoty"aria-label="Default select example" style="width: 20%;margin-left: 20px;" class="input-categoria">
        <option selected>Seleccione Categoria</option>
        <option value="Perifericos">Perifericos</option>
        <option value="Accesorios">Accesorios</option>
        <option value="Componentes">Componentes</option>
      </select>

    

      <br>
      <br>

      <button type="submit" class="btn btn-dark" style="width: 20%;margin-left: 20px;">Crear</button>
   
    </form>
<br>
<br>

<%- include ('./partials/footer') %>
<script src="https://kit.fontawesome.com/2c086df42b.js" crossorigin="anonymous"></script>
      <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
</body>
</html>