<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title > Mercado Liebre Login</title> 
    <%- include ('../partials/head') %>
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/estilos.css" rel="stylesheet" >
    <link href="/css/login.css" rel="stylesheet" >
    
</head>

<body>
    
  <%- include ('../partials/header') %>

  <div id="inicio">
  <form action="/users/login" method="POST">
    <br>
    <br>
  <div class="nombre">
    <label for="nombre"></label>
    <input type="text" name="email" placeholder="email" id="nombre" required/>  
    <br>
    <% if(locals.errors && errors.email) { %>
      <div class="text-danger"><%= errors.email.msg %></div>
  <% } %>
  </div>
  <div class="contraseña">
    <input type="password" placeholder="Contraseña" name="password" id="contraseña" required/>
    
    <br>
   
  </div>
  <label>Recordar usuario
  <input type="checkbox" name="recordarUsuario"/>
</label>
<br>
<br>
  
  </div>
  <div id="boton-div">
   <a href="/"> <button type="submit"  id="boton-enviar"class="btn btn-outline-warning">Ingresar</button></a>
</div>
  <br>
  <div id="olvide-contraseña">
  <a href=""><h4 id="boton-olvide" class="bn35">Olvide mi contraseña</h4></a>
</div>
</form>
  <div id="boton-crear-cuenta">
    <a href="/registro"><button type="submit"  id="boton-crear"class="btn btn-outline-warning">Crea una cuenta</button></a>
</div>

  <br>
  <br>


    <!-- footer -->
    <%- include ('../partials/footer') %>
    <!-- /footer -->
    <script src="https://kit.fontawesome.com/2c086df42b.js" crossorigin="anonymous"></script>
      <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
</body>

</html>
